{% extends "layout.html" %}

{% block body %}
<table>
<tr><th>Job</th><th>User</th><th>Status</th><th></th></tr>
{% for job in jobs %}
    <tr>
        <td>
            {{ highlight }}
            {{ job.job_id }}
        </td>
        <td>{{ job.user_id }}</td>
        <td>{{ job.status }}</td>
        <td>
            <a href="{{ url_for('.job_details', job_id=job.job_id) }}">
                Details
            </a>
        </td>
    </tr>
{% else %}
    <tr><td>No jobs so far.</td></tr>
{% endfor %}
</table>
{% endblock %}